*{
    margin: 0;
    padding: 0;
    font-family: mulish,sans-serif;
}
body{
    width: auto;
    height: 2200px;
}
.header{
    display:  block !important;
    
}
.navbar{
    position: fixed;
    display: flex !important;
    background-color: #fff;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 30px;
    font-weight: 500;
    font-size: 17px;
    width: 100%;
}
.logo{
    float: left;
}

.menu-left  {
    display: flex !important;
    float: left;
 
}
.menu-right  {
    display: flex !important;
    
   
}
#mySidebar{
    display:none;
    width:40%;
    min-width:300px;
}
.sidebar{
    padding:8px 50px;
    display:block ;
    border:none;
    margin-left: 55px ;
    top: 0%;
    white-space:normal;
    outline:0;
    height:1200px;
    background-color:#e0e0e0;
    position:fixed!important;
    overflow:auto;

}
.close{
    margin-left: 260px;
}
.utilities, .support, .community,.shopping{
    position: relative;
    margin: 30px 0px;
}
ul,li{
    display: inline-block;
    list-style:  none;
    flex-direction: row;
}
p{
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 16px;
}
.text li {
    margin-bottom: 20px;

}
a{
    text-decoration: none;
    color: #000;
    padding: 15px 17px;
}
.register {
    background-color: #1464f4;
    border-radius: 3px;
    padding: 15px 10px;
    margin: 0 12px 0 24px;
    
}
.register a{
    color: #fff;
    font-size: 14px !important;

}
.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
}